body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('\bloompetalsq\Styles\Images\`Fleur');
  background-size: cover;
  background-repeat: no-repeat;
  }
  
  

  header {
    background-color: #c42323;
    padding: 10px;
  }
  

  
  .navbar {
    color: #af1c1c;
    display: flex;
    justify-content: flex-start; 
  }
  
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 23px;
    margin-right: 40px;
  }
  .section-title {
    font-size: 60px;
    font-family: fantasy;
    margin-top: -5px;
    color: #181818;
    display: flex;
    justify-content:center ;
  }
  